<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
        <title>Celebrity Detector</title>
    </head>
    <body>
        <div class="centered-text">
            <div class="fade-in-image">
                <p>Celebrity Detector</p>
            </div>
        </div>
        <div class="centered-text2">
            <div class="fade-in-image">
                <div class="description-display" id="Description">
                    <p>Here you can take an image of yourself and using an machine learning model it will find your celebrity counterpart! (It is not always accurate)</p>
                </div>
            </div>
        </div>
        <div class="fade-in-image">
            <button class="take-picture" id="start">Take picture of yourself</button>
            <button class="take-picture" id="stop" style="display: none;">Stop Webcam</button>
        </div>
        <div class="center">
            <video id="video" width="650" height="480"></video>
            <canvas id="canvas" width="650" height="480" style="display: none;"></canvas>
        </div>
        <button class="capture" id="Capture" style="display: none;">Capture</button>
        <script src="{{ url_for('static', filename='/index.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>
</html>
